*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
body{
    background-color: #13072D;
}
.container{
    display: flex;
    justify-content: center;
    background-color: #13072D;
    height: 100vh;
}
.boxes {
    height: 390px;
    width:250px;
    /* border: 2px solid #000; */
    background-color: #291457;
    color: white;
    border-radius: 20px;
    margin:8px;
    margin-top: 100px; 
    padding: 20px 0 0 20px;
}
.boxes h2:first-of-type {
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
}
.boxes h2:nth-of-type(2) {
    margin: 0;
    padding-left: 10px;
    font-size: 50px;
}
.boxes ,p{
    padding-top: 20px;
}
.arrow{
    height: 40px;
    width:190px;
    border-radius: 20px;
    background-color: white;
    color: #000;
    font-size: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 3px;
  
}
a{
    text-decoration: none;
}
.icon1{
    color: white;
    background-color: #291457;
    border-radius: 50%;
    padding: 5px;
    font-size: 18px;
    
}
.service ,li{
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 3px;
}
.service li:last-child {
    padding-bottom: 30px;
  }
  .boxes:hover{
    z-index:10;
    box-shadow: 2px 2px 2px 2px #CBC3E3 ,-2px -2px 2px 2px #CBC3E3;
  }
  /* check on hover style */ 
  .boxes:hover {
    /* existing rules */
    height: 420px; /* increase the height */
    width: 300px; /* increase the width */
    
    /* increase the size of the content */
    .boxes h2:first-of-type, .boxes h2:nth-of-type(2), .boxes p {
      font-size: 120%; /* increase the font size */
    }
    
    .service li {
      padding-top: 10px; /* increase the padding */
    }
    
    .arrow {
      height: 40px; /* increase the height */
      width: 230px; /* increase the width */
    }
    .icon1{
        color: white;
        background-color: #291457;
        border-radius: 50%;
        padding: 5px;
        font-size: 18px;
        cursor: pointer;
    }
  }
/* Media Query Started */
    
@media screen and (max-width: 599px){
    .container{
        display: block;
        background-color: #13072D;
        height: 205px;
        width: 100%;
        padding-bottom: 5px;
    }
    .boxes {
        height: 80%;
        width:68%;
        background-color: #291457;
        color: white;
        border-radius: 20px;
        margin: auto;
        position: relative;
        top: 3%;
        left: 8%;
        padding: 10px 0px 0px 20px;
        background-image: linear-gradient(to bottom right, #13072D, #291457);
        box-shadow: -2px -2px 2px 2px #291457;
    }
    .box1{
        
        margin: 0px;
        margin-bottom: 4%;
        padding-top: 5px;
        padding: 0;
    }
    .box2{
        margin: 0px;
        margin-bottom: 4%;
        padding: 0;
    }
    .box3{
        margin: 0px;
        padding: 0;
    }
    .boxes h2:nth-of-type(2) {
        margin: 0px;
        padding: 0px;
        font-size: 18px;
        padding-left: 0px;
        position: relative;
        left: 17%;
        
    }
    .boxes h2:first-of-type {
        padding-left: 15%;
        padding-top: 2%;
        
    }
    .service ,li{
        display: none;
    }
    .boxes p{
        padding-top: 8px;
        padding-left: 20px;
        width: 70%;
        font-weight: 400;
        line-height: 1.3;
        word-spacing: 0.1em;
        letter-spacing: 0.1em;
        text-align-last: center;
    }
    .arrow{
        height: 20%;
        width:40%;
        border-radius: 20px;
        background-color: white;
        color: #000;
        font-size: 18px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
        top: 8%;
        left: 6%;
    }
    .icon1{
        color: white;
        background-color: #291457;
        border-radius: 50%;
        padding: 5px;
        font-size: 15px;
        cursor: pointer;
    }
    .boxes:hover {
        box-shadow: 2px 2px 2px 2px #CBC3E3 ,-2px -2px 2px 2px #CBC3E3;
        height: 90%;
        width: 70%;

         .arrow{
        height: 20%;
        width:44%;
        border-radius: 20px;
        background-color: white;
        color: #000;
        font-size: 18px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
        top: 10%;
        left: 6%;
    }
    .boxes h2:nth-of-type(2){
        font-size: 4em;
    }
    .icon1{
        color: white;
        background-color: #291457;
        border-radius: 50%;
        padding: 5px;
        font-size: 15px;
        cursor: pointer;
    }
 
    }
    
    
}
@media screen and (max-width: 460px){
    .container{
        display: block;
        background-color: #13072D;
        height: 205px;
        width: 100%;
        padding-bottom: 5px;
    }
    .boxes {
        height: 100%;
        width:78%;
        background-color: #291457;
        color: white;
        border-radius: 20px;
        margin: auto;
        position: relative;
        top: 3%;
        left: 8%;
        padding: 10px 0px 0px 20px;
        background-image: linear-gradient(to bottom right, #13072D, #291457);
        box-shadow: -2px -2px 2px 2px #291457;
    }
    .box1{
        margin: 0px;
        margin-bottom: 4%;
        padding-top: 5px;
        padding: 0;
    }
    .box2{
        margin: 0px;
        margin-bottom: 4%;
        padding: 0;
    }
    .box3{
        margin: 0px;
        padding: 0;
    }
    .boxes h2:nth-of-type(2) {
        margin: 0px;
        padding: 0px;
        font-size: 20px;
        padding-left: 0px;
        position: relative;
        left: 17%;
        
    }
    .boxes h2:first-of-type {
        padding-left: 15%;
        padding-top: 2%;
        
    }
    .service ,li{
        display: none;
    }
    .boxes p{
        padding-top: 8px;
        padding-left: 20px;
        width: 70%;
        font-weight: 400;
        line-height: 1.3;
        word-spacing: 0.1em;
        letter-spacing: 0.1em;
        text-align-last: center;
    }
    .arrow{
        height: 20%;
        width:50%;
        border-radius: 20px;
        background-color: white;
        color: #000;
        font-size: 18px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
        top: 8%;
        left: 6%;
    }
    .icon1{
        color: white;
        background-color: #291457;
        border-radius: 50%;
        padding: 5px;
        font-size: 15px;
        cursor: pointer;
    }
    .boxes:hover {
        box-shadow: 2px 2px 2px 2px #CBC3E3 ,-2px -2px 2px 2px #CBC3E3;
        height: 90%;
        width: 70%;

         .arrow{
        height: 20%;
        width:44%;
        border-radius: 20px;
        background-color: white;
        color: #000;
        font-size: 18px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
        top: 10%;
        left: 6%;
    }
    .boxes h2:nth-of-type(2){
        font-size: 4em;
    }
    .icon1{
        color: white;
        background-color: #291457;
        border-radius: 50%;
        padding: 5px;
        font-size: 15px;
        cursor: pointer;
    }
 
    }
    
    
}
@media screen and (min-width: 599px) and (max-width: 750px) { /* continue from here giving grid*/
    .container {
      
    }
    .boxes {
      width: calc(33.333% - 16px);
      margin-bottom: 16px;
    }
    .boxes:nth-child(3n+4) {
      margin-left: 0;
    }
  }

